<h2>Create a new celebrity</h2>

<form method="post" action="/celebrities/create">
    <label>Name</label>
    <input name="name"></input>
    <label>Occupation</label>
    <input name="occupation"></input>
    <label>Catch Phrase</label>
    <input name="catchPhrase"></input>

    <button type="submit">Create Celebrity</button>
</form>